:root {
    --team-bg-color: hsl(232, 19%, 54%, var(--team-bg-color-opacity, 1));
}

html, body {
    margin: 0;
}

body {
    background: url("../assets/aram.jpg") no-repeat;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
}

.image-container {
    text-align: center;
}

/* HEADER */
#headerFrame {
    width: 100%;
}

.header h1 {
    font-size: 18px;
}

/* FOOTER */
#footerFrame {
    width: 100%;
}

.footer h1 {
    font-size: 18px;
}