/* #FirstStep {
    border-color: red;
}

.team-list {
    border: 5px solid blue;
}

.fusionWrapper {
    border: 2px solid green;
}

.teamWrapper {
    border: 2px solid orange;
    margin: 2px;
} */