:root {
    --team-width: 250px;
}

body {
    height: fit-content;
    background-image: url("../assets/wall-paper.png"); /* important to override bootstrap white background */
    background-repeat: no-repeat;
}

#global-container {
    display: flex;
    --nav-menu-width: 250px;
    flex: 1;
    text-align: center;
}

.important {
    color: red;
    font-family: 'Kaushan Script';
    font-weight: bold;
}

.goal {
    font-weight: bold;
}

.lower {
    font-size: 0.4em;
    margin: 0px;
}

.header h6 {
    display: block;
    font-size: 1em;
}

.header h6:not(:last-child) {
    margin: unset;
}

nav {
    width: var(--nav-menu-width);
    position: fixed;
    padding: 20px;
}

#container {
    --content-margin: calc(100% - 10px);
    display: inline-block;
    padding: 60px 0px;
    margin: 0px var(--nav-menu-width);
    width: calc(100% - var(--nav-menu-width));
}

/* Manually add in DOM for live demo */
#container.h {
    background: url(../assets/papyrus-horizontal.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

#container section {
    width: fit-content;
    margin: 0 auto;
}

#container section {
    display: none;
}

.rules .list .rule {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 70px;
}

.rules .list .rule:not(:last-child) {
    margin-bottom: 10px;
}

.rules .list .rule:nth-child(even) {
    flex-direction: row-reverse;
}

.rules .list .rule .text {
    width: fit-content;
    font-family: 'Roboto Condensed';
    font-size: 1.2em;
}

.rules .list .rule .important {
    font-size: 1.3em;
}

.rules .list .rule img {
    height: 120px;
    border-radius: 25px;
}

#container section.steps .list {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

#container section.steps .list p {
    margin: 0;
}

#container section.rewards {
    font-family: 'Holtwood One SC';
    font-size: 3em;
}

#container section.rewards img {
    max-height: 230px;
}

#container section.rewards p:last-of-type {
    margin-bottom: 20px;
}

.teams .list {
    --column-count: 4;
    display: flex;
    justify-content: space-between;
    row-gap: 80px;
    flex-wrap: wrap;
    width: calc(var(--column-count) * var(--team-total-width));
    justify-self: center;
    margin-top: 10em;
}

.teams .list .team {
    flex-shrink: 0;
}

.team .members {
    display: block;
}

.team .members span {
    display: block;
}

.team .stats {
    display: none;
}

.list-buttons {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 25px;
}

.sectionBg {
    background: url("../assets/papyrus.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}