:root {
    --team-width: 300px;
    --team-padding: 1rem;
    --team-total-width: calc(var(--team-width) + 2 * var(--team-padding));
}

.step:not(.active) .team .name, .step:not(.active) .team .members > span {
    color: transparent;
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #403f4c;
    border-radius: 12px;
    padding: 1rem 1rem;
    box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.1);
    width: var(--team-width);
    height: 110px;
}

.team .name {
    font-weight: bold;
    margin: 0 !important;
    font-size: 1.2rem;
    border-bottom: 1px solid #888;
    padding-bottom: 0.4rem;
    color: #ffc6ff;
}

.team .members {
    display: flex;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    justify-content: space-between;
    column-gap: 10px;
    margin-top: 0.5rem;
    color: azure;
}

.team .stats {
    background: #1f1c2c;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    color: #ffde7d;
    justify-content: center;
}

.team .stats input[type="text"] {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    background-color: #1f1c2c;
    color: #ffde7d;
    font-weight: bold;
    font-size: 1rem;
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.1);
    outline: none;
    transition: all 0.3s ease;
    width: 25%;
}

/* Effet focus */
.team .stats input[type="text"]:focus {
    background-color: #29253a;
    box-shadow: 0 0 0 2px #ffcbcb;
}

/** Winners **/
.team:only-child {
    height: auto;
}

.team:only-child .members {
    display: block;
}

.team:only-child .members span {
    display: block;
}

.team:only-child .stats {
    display: none;
}