.team {
    display: flex;
    align-items: center;
}

.team {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px; /* TODO : try to remove hard coded width */
    border: 1px solid #000;
    border-radius: 20px;
    background: var(--team-bg-color);
    color: white;
    padding: 10px;
}

.team .name {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: black;
    text-decoration: underline;
    margin-bottom: 5px;
}

.team .members {
    white-space: nowrap;
    align-self: stretch;
    display: flex;
    justify-content: space-evenly;
    column-gap: 10px;
    margin-bottom: 5px;
    font-size: 12px;
}

.team .score {
    width: 50px;
    text-align: center;
    margin: 0 auto;
}

.connector {
    width: 30px;
    height: 2px;
    background-color: black;
}
