:root {
    --team-width: 300px;
    --team-padding: 1rem;
    --fusion-wrapper-padding: 10px;
    --team-total-width: calc(var(--team-width) + 2 * var(--team-padding));
}

.step:not(.active) .team .name, .step:not(.active) .team .members > span {
    color: transparent;
}

.fusion-wrapper {
    display: flex;
    column-gap: 10px;
    padding: var(--fusion-wrapper-padding);
    border-radius: 20px;
    background-color: var(--main-color-blue);
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--team-bg-color, var(--main-color-blue-dark));
    border-radius: 12px;
    padding: var(--team-padding);
    box-shadow: inset 0 0 8px var(--team-shadow-color, hsla(0, 0%, 100%, 0.5));
    width: var(--team-width);
    height: 110px;
}

.team .name {
    font-weight: bold;
    margin: 0 !important;
    font-size: 1.2rem;
    border-bottom: 1px solid #888;
    padding-bottom: 0.4rem;
    color: var(--team-name-color, #ffc6ff);
}

.team .members {
    display: flex;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    justify-content: space-between;
    column-gap: 10px;
    margin-top: 0.5rem;
    color: var(--team-members-color, azure);
}

.team .stats {
    background-color: var(--main-color-blue);
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    color: var(--step-golden-color-light);
    justify-content: center;
}

.team .stats input[type="text"] {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    background-color: var(--main-color-blue);
    color: var(--step-golden-color-light);
    font-weight: bold;
    font-size: 1rem;
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.1);
    outline: none;
    transition: all 0.3s ease;
    width: 25%;
}

/* Effet focus */
.team .stats input[type="text"]:focus {
    background-color: hsl(var(--main-color-blue-h), var(--main-color-blue-s), calc(var(--main-color-blue-l) + 5%));
    box-shadow: 0 0 0 2px #ffcbcb;
}

/** Winners **/
.team:only-child {
    --team-members-color: var(--step-golden-color-dark);
    --team-bg-color: var(--step-golden-color-light);
    --team-name-color: var(--team-members-color);

    height: auto;
    border: 5px solid var(--step-golden-color);
}

.team:only-child .members {
    display: block;
}

.team:only-child .members span {
    display: block;
}

.team:only-child .stats {
    display: none;
}