<head>
    <!-- https://anjitpariyar.medium.com/make-iframe-height-dynamic-based-on-content-inside-using-javascript-c675e78e4dd3 -->
    <script>
        // Call the function when the iframe content is loaded
        window.onload = function sendHeightToParent() {
            const height = document.querySelector(".header").scrollHeight;
            window.parent.postMessage({ type: 'adjustElementHeight', height: height, containerId: "headerFrame" }, '*');
        };
    </script>
</head>
<header class="header">
    <link rel="stylesheet" href="../styles/header.css">
    <div class="header-wrap">
        <p class="intro" id="intro">Kill <strike>Steal</strike> Secure</p>
        <h1 id="headline">Le tournoi KS des tontons</h1>
    </div>
</header>